.gear-container {
  overflow: scroll;
  position: relative;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.gear-container::-webkit-scrollbar {
  display: none;
}

.gear-container:hover {
  cursor: pointer;
}

.gear-info-container {
  position: absolute;
  padding: 1rem;
  background-image: linear-gradient(rgb(71, 71, 71), black);
  transition: ease-in top 0.5s, ease-in opacity 0.5s;
  top: -300px;
  left: 0;
  font-size: 0.75rem;
  opacity: 0;
  z-index: 10;
}

.gear-name {
  margin: 0.5rem 0;
}

.reveal {
  top: 0px;
  opacity: 1;
}

.gear-name {
  font-size: 0.85rem;
}
.shortname-tag {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 0.75rem;
  z-index: 5;
}

.purchase-info > p {
  margin: 0.5rem 0;
}
