@font-face {
  font-family: Bender;
  src: url("./Assets/Bender.otf");
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Bender;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100lvh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

#root {
  height: inherit;
}

#app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: inherit;
}

#hideout-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#hideout-logo > img {
  animation: spin 2s infinite;
}

.animate-page {
  flex: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
